// Colors
$darkBlack: rgba(87, 87, 87, 255);
$black: rgba(155, 155, 155, 255);
$darkGrey: rgba(221, 208, 210, 255);
$grey: rgba(235, 235, 235, 255);
$white: white;

// Media breakpoints
$breakpoint-small: 1023px;
$breakpoint-mobile: 767px;
